* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabeçalho {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    zoom: 150%;
}


.cabeçalho_Inicio {
    display: flex;
    gap: 15px;
    align-items: center;
}

.cabeçalho_Meio{
    background-color: white;
    display: flex;
    gap: 8px   ;
}

.cabeçalho_Final{
    display: flex;
    background-color: white;
    gap: 10px;
}

.logotipos {
    display: flex;
}

.logotipo_icon{
    color: red;
}

.logotipo_Nome{
    font-weight: bold;
}
.logotipo_Nome:hover{
    color: gray;
}

.logotipo_Video{
    border-radius: 50%;
    background-color: red;
    width: 30px;
    height: 30px;
    color: antiquewhite;
}

.logotipo_Video:hover{
    background-color: gray;
}

.logotipo_pais{
    font-size: 8px;
    color: rgb(78, 78, 78);
}


.search{
    display: flex;
}

.search_Input{
    border: 1px solid rgb(192, 192, 192);
    outline: none;
    height: 32px;
    width: 300px;
    border-radius: 16px 0 0 16px;
    font-size: 110%;
}

.search_Button{
    width: 50px;
    height: 32px;
    border: 1px solid rgb(192, 192, 192);
 border-radius: 0 16px 16px 0;
}

.microfone{
    height: 32px;
    width: 32px;
    border: 1px solid grey;
    border-radius: 50%;
}

